.vscode/**
.vscode-test/**
src/**
ui/**
!ui/dist/**
node_modules/**
docs/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.json
!package.json
README.md
package-lock.json